In [16]:
import requests
import json
import os
import pandas as pd
from pprint import pprint
from dotenv import load_dotenv

load_dotenv()

True

In [17]:
access_token = os.getenv('JIRA_API_TOKEN')

base_url = "https://jira.eficode.com"

In [18]:
url = f'{base_url}/rest/tempo-planning/1/allocation'
header = {'Authorization': f'Bearer {access_token}', 'Content-Type': 'application/json'}
res = requests.get(url=url, headers=header)

print(res.status_code)
data = res.json()

200

In [19]:
df = pd.DataFrame(columns=['plan_id', 'employee', 'start', 'end', 'hours_day'])

for plan in data:
    row = {'plan_id': plan['id'], 'employee': plan['assignee']['key'], 'start': plan['start'], 'end': plan['end'], 'hours_day': int(plan['secondsPerDay'])/(60*60)}
    df.loc[len(df)] = row

df['start'] = pd.to_datetime(df['start'], format='%Y/%m/%d')
df['end'] = pd.to_datetime(df['end'], format='%Y/%m/%d')

df

    plan_id             employee      start        end  hours_day
0       541     juha.patrikainen 2023-01-01 2023-06-30   6.000000
1       570     rasmus.paltschik 2023-04-12 2023-05-12   2.000000
2       376                    1 2023-01-01 2023-12-31   4.615278
3       533       jukka.haavisto 2023-04-01 2023-06-30   0.750000
4       562      arto.kovalainen 2023-05-01 2023-05-31   0.173889
5       463         timo.lehtola 2023-03-13 2023-06-30   7.500000
6       558      arto.kovalainen 2023-04-03 2023-04-28   1.000000
7       459     harri.rouhiainen 2023-03-13 2023-12-31   7.500000
8       554          tuomas.kara 2023-05-01 2023-06-30   2.400000
9       550       tapio.tuomisto 2023-03-06 2023-08-31   2.400000
10      517       antti.paivinen 2023-03-29 2023-04-30   3.000000
11      542        juho.lehtonen 2023-01-01 2023-06-30   3.750000
12      538     jarkko.sillanpaa 2023-04-01 2023-06-30   7.500000
13      534          matias.ijas 2023-01-01 2023-04-30   7.500000
14      373                    1 2023-01-01 2023-12-31   3.683333
15      468      ville.pulkkinen 2023-03-13 2023-06-30   7.500000
16      435      arto.kovalainen 2023-04-01 2023-04-30   2.250000
17      530     anatoliy.borodin 2023-04-10 2023-04-14   7.500000
18      464       pekka.neuvonen 2023-03-13 2023-06-30   7.500000
19      559      arto.kovalainen 2023-04-17 2023-04-28   1.000000
20      460      janne.saikkonen 2023-03-13 2023-12-31   7.500000
21      555       vilma.pohjonen 2023-01-01 2023-06-30   3.750000
22      551       teemu.partanen 2023-01-01 2023-06-30   7.500000
23      518       antti.paivinen 2023-04-03 2023-05-05   1.500000
24      485      johanna.tervala 2023-02-01 2023-12-31   7.500000
25      547            mika.tavi 2023-01-01 2023-06-30   6.000000
26      543        juho.lehtonen 2023-01-01 2023-06-30   3.750000
27      568  Antti-juho.nieminen 2023-04-17 2023-06-30   7.500000
28      535          matias.ijas 2023-05-01 2023-12-31   3.750000
29      531     anatoliy.borodin 2023-04-17 2023-04-21   7.500000
30      465       tommi.hietanen 2023-03-13 2023-06-30   6.000000
31      560      arto.kovalainen 2023-05-01 2023-05-31   2.500000
32      461        joni.lahtinen 2023-03-13 2023-12-31   3.000000
33      556      arto.kovalainen 2023-04-03 2023-04-28   2.000000
34      490          olli.suokas 2023-03-01 2023-09-30   7.500000
35      552          tuomas.kara 2023-03-01 2023-08-31   2.400000
36      548       tapio.tuomisto 2023-01-01 2023-06-30   2.750000
37      515       antti.paivinen 2023-04-03 2023-04-30   0.500000
38      482       ilkka.vaisanen 2023-03-01 2023-09-30   4.000000
39      544        kai.jokiniemi 2023-01-01 2023-06-30   7.500000
40      478          niko.ikonen 2023-03-01 2023-12-31   6.000000
41      540     juha.patrikainen 2023-01-01 2023-06-30   1.000000
42      569     rasmus.paltschik 2023-04-17 2023-04-21   1.000000
43      536          jani.lundan 2023-05-02 2023-08-31   1.250000
44      532     anatoliy.borodin 2023-04-24 2023-04-28   7.500000
45      466        tommi.siivola 2023-03-13 2023-06-30   7.500000
46      561      arto.kovalainen 2023-05-01 2023-05-31   1.000000
47      462        laura.virtala 2023-03-13 2023-12-31   7.500000
48      557      arto.kovalainen 2023-04-03 2023-04-28   0.200000
49      524          tuomas.kara 2023-03-20 2023-06-30   3.750000
50      553          tuomas.kara 2023-04-19 2023-08-31   2.400000
51      549       tapio.tuomisto 2023-03-01 2023-04-30   0.500000
52      516       antti.paivinen 2023-03-27 2023-04-28   0.250000
53      545  Antti-juho.nieminen 2023-04-04 2023-04-21   3.000000

In [20]:
res = requests.get(f'{base_url}/rest/tempo-teams/2/team', headers=header)
teams = res.json()

In [21]:
team_members = requests.get(f'{base_url}/rest/tempo-teams/2/team/42/member', headers=header).json()
for member in team_members:
    print(member['member']['name'])

jani.lundan
jarkko.sillanpaa
juha.patrikainen
juho.lehtonen
jukka.haavisto
jyri.tienhaara
kai.jokiniemi
matias.ijas
mika.tavi
tapio.tuomisto
teemu.partanen
tuomas.kara
vilma.pohjonen