In [67]:
import requests
import json
import os
import pandas as pd
from pprint import pprint
from dotenv import load_dotenv

load_dotenv()

True

In [68]:
base_url = "https://jira.eficode.com"
access_token = os.getenv('JIRA_API_TOKEN')

In [69]:
url = f'{base_url}/rest/tempo-planning/1/allocation'
header = {'Authorization': f'Bearer {access_token}', 'Content-Type': 'application/json'}
res = requests.get(url=url, headers=header)

print(res.status_code)
data = res.json()

200

In [70]:
df = pd.DataFrame(columns=['plan_id', 'employee', 'start', 'end', 'hours_day', 'employee_day'])

for plan in data:
    row = {'plan_id': plan['id'], 'employee': plan['assignee']['key'], 'start': plan['start'], 'end': plan['end'], 'hours_day': int(plan['secondsPerDay'])/(60*60)}
    df.loc[len(df)] = row

df['start'] = pd.to_datetime(df['start'], format='%Y/%m/%d')
df['end'] = pd.to_datetime(df['end'], format='%Y/%m/%d')

dfgroup = df

df

,plan_id,employee,start,end,hours_day,employee_day
0,541,juha.patrikainen,2023-01-01,2023-06-30,6.000000,NaN
1,570,rasmus.paltschik,2023-04-12,2023-05-12,2.000000,NaN
2,376,1,2023-01-01,2023-12-31,4.615278,NaN
3,533,jukka.haavisto,2023-04-01,2023-06-30,0.750000,NaN
4,562,arto.kovalainen,2023-05-01,2023-05-31,0.173889,NaN
5,463,timo.lehtola,2023-03-13,2023-06-30,7.500000,NaN
6,558,arto.kovalainen,2023-04-03,2023-04-28,1.000000,NaN
7,459,harri.rouhiainen,2023-03-13,2023-12-31,7.500000,NaN
8,554,tuomas.kara,2023-05-01,2023-06-30,2.400000,NaN
9,550,tapio.tuomisto,2023-03-06,2023-08-31,2.400000,NaN
10,517,antti.paivinen,2023-03-29,2023-05-07,1.500000,NaN
11,579,antti.paivinen,2023-04-17,2023-04-30,0.083333,NaN
12,542,juho.lehtonen,2023-01-01,2023-06-30,3.750000,NaN
13,538,jarkko.sillanpaa,2023-04-01,2023-06-30,7.500000,NaN
14,534,matias.ijas,2023-01-01,2023-04-30,7.500000,NaN
15,373,1,2023-01-01,2023-12-31,3.683333,NaN
16,468,ville.pulkkinen,2023-03-13,2023-06-30,7.500000,NaN
17,435,arto.kovalainen,2023-04-01,2023-04-30,2.250000,NaN
18,464,pekka.neuvonen,2023-03-13,2023-06-30,7.500000,NaN
19,559,arto.kovalainen,2023-04-17,2023-04-28,1.000000,NaN
20,460,janne.saikkonen,2023-03-13,2023-12-31,7.500000,NaN
21,555,vilma.pohjonen,2023-01-01,2023-06-30,3.750000,NaN
22,551,teemu.partanen,2023-01-01,2023-06-30,7.500000,NaN
23,518,antti.paivinen,2023-04-03,2023-05-07,1.500000,NaN
24,485,johanna.tervala,2023-02-01,2023-12-31,7.500000,NaN
25,580,antti.paivinen,2023-04-17,2023-04-30,0.500000,NaN
26,547,mika.tavi,2023-01-01,2023-06-30,6.000000,NaN
27,576,ilkka.vaisanen,2023-04-03,2023-05-05,1.000000,NaN
28,543,juho.lehtonen,2023-01-01,2023-06-30,3.750000,NaN
29,572,arto.kovalainen,2023-05-01,2023-06-15,2.000000,NaN
30,568,Antti-juho.nieminen,2023-04-14,2023-06-30,7.500000,NaN
31,535,matias.ijas,2023-05-01,2023-12-31,3.750000,NaN
32,531,anatoliy.borodin,2023-04-17,2023-04-21,7.500000,NaN
33,465,tommi.hietanen,2023-03-13,2023-06-30,6.000000,NaN
34,560,arto.kovalainen,2023-05-01,2023-05-31,2.500000,NaN
35,461,joni.lahtinen,2023-03-13,2023-12-31,3.000000,NaN
36,556,arto.kovalainen,2023-04-03,2023-04-28,2.000000,NaN
37,490,olli.suokas,2023-03-01,2023-09-30,7.500000,NaN
38,552,tuomas.kara,2023-03-01,2023-08-31,2.400000,NaN
39,581,antti.paivinen,2023-04-17,2023-06-04,2.000000,NaN
40,548,tapio.tuomisto,2023-01-01,2023-06-30,2.750000,NaN
41,482,ilkka.vaisanen,2023-03-01,2023-09-30,4.000000,NaN
42,577,ilkka.vaisanen,2023-04-10,2023-06-02,1.000000,NaN
43,544,kai.jokiniemi,2023-01-01,2023-06-30,7.500000,NaN
44,478,niko.ikonen,2023-03-01,2023-12-31,6.000000,NaN
45,540,juha.patrikainen,2023-01-01,2023-06-30,1.000000,NaN
46,569,rasmus.paltschik,2023-04-17,2023-04-21,1.000000,NaN
47,536,jani.lundan,2023-05-02,2023-08-31,1.250000,NaN
48,532,anatoliy.borodin,2023-04-24,2023-04-28,7.500000,NaN
49,466,tommi.siivola,2023-03-13,2023-06-30,7.500000,NaN
50,561,arto.kovalainen,2023-05-01,2023-05-31,1.000000,NaN
51,462,laura.virtala,2023-03-13,2023-12-31,7.500000,NaN
52,557,arto.kovalainen,2023-04-03,2023-04-28,0.200000,NaN
53,524,tuomas.kara,2023-03-20,2023-06-30,3.750000,NaN
54,553,tuomas.kara,2023-04-19,2023-08-31,2.400000,NaN
55,549,tapio.tuomisto,2023-03-01,2023-04-30,0.500000,NaN
56,578,ilkka.vaisanen,2023-04-17,2023-06-02,1.000000,NaN
57,545,Antti-juho.nieminen,2023-04-04,2023-04-21,3.000000,NaN

In [71]:




employee_data = df.copy()

""" 

# Create a new data frame with every day of the project
date_range = pd.date_range(start=employee_data['start'].min(), end=employee_data['end'].max(), freq='D')
project_dates = pd.DataFrame({'Project Dates': date_range})

# Merge the new data frame with the employee data
merged_data = pd.merge(project_dates, employee_data, how='left', left_on='Project Dates', right_on='start')

# Fill in missing employees
merged_data['employee'].fillna(method='ffill', inplace=True)

# Create a new column with plan_id, employee and date for each day of the project for each employee
planned_id = merged_data['plan_id'].apply(str)
merged_data['Employee Project Dates'] = planned_id + ': ' + merged_data['employee'] + ': ' + merged_data['Project Dates'].dt.strftime('%Y-%m-%d')

# Pivot the data to create a new column for each employee
pivot_data = merged_data.pivot(index='Employee Project Dates', columns='employee', values='hours_day')

# Reset the index and rename the columns
pivot_data = pivot_data.reset_index().rename_axis(None, axis=1)

# Display the updated data frame
# print(pivot_data)

# Write the updated data frame to a new CSV file
merged_data.to_csv('updated_employee_data.csv', index=False)
 """

" \n\n# Create a new data frame with every day of the project\ndate_range = pd.date_range(start=employee_data['start'].min(), end=employee_data['end'].max(), freq='D')\nproject_dates = pd.DataFrame({'Project Dates': date_range})\n\n# Merge the new data frame with the employee data\nmerged_data = pd.merge(project_dates, employee_data, how='left', left_on='Project Dates', right_on='start')\n\n# Fill in missing employees\nmerged_data['employee'].fillna(method='ffill', inplace=True)\n\n# Create a new column with plan_id, employee and date for each day of the project for each employee\nplanned_id = merged_data['plan_id'].apply(str)\nmerged_data['Employee Project Dates'] = planned_id + ': ' + merged_data['employee'] + ': ' + merged_data['Project Dates'].dt.strftime('%Y-%m-%d')\n\n# Pivot the data to create a new column for each employee\npivot_data = merged_data.pivot(index='Employee Project Dates', columns='employee', values='hours_day')\n\n# Reset the index and rename the columns\npivot_data = pivot_data.reset_index().rename_axis(None, axis=1)\n\n# Display the updated data frame\n# print(pivot_data)\n\n# Write the updated data frame to a new CSV file\nmerged_data.to_csv('updated_employee_data.csv', index=False)\n "

In [72]:
""" def sum_values(row):
    dates = pd.date_range(row['start'],row['end'],freq='D')
    return pd.Series({'dates':dates, 'hours':row['hours_day']})


employee_data  """

""" 
def generate_date_range(row):
    return pd.date_range(start=row['start'], end=row['end'], freq='D')
# apply the function to each row, resulting in a new column with the date range as a pandas.date_range object
df['date_range'] = df.apply(generate_date_range, axis=1) """

df['date_range'] = df.apply(lambda row: pd.date_range(start=row['start'], end=row['end'], freq='D'), axis=1)

df_exploded = df.explode('date_range')

df_summed = df_exploded.groupby(['plan_id', 'date_range', 'employee'])['hours_day'].sum().reset_index()
# df_summed

# Write the updated data frame to a new CSV file
df_summed.to_csv('updated_employee_data.csv', index=False)

In [73]:
# merged_data.groupby('employee').sum()

# pivot_data

# date_range

In [74]:
res = requests.get(f'{base_url}/rest/tempo-teams/2/team', headers=header)
teams = res.json()

In [75]:
team_members = requests.get(f'{base_url}/rest/tempo-teams/2/team/42/member', headers=header).json()
for member in team_members:
    print(member['member']['name'])

jani.lundan
jarkko.sillanpaa
juha.patrikainen
juho.lehtonen
jukka.haavisto
jyri.tienhaara
kai.jokiniemi
matias.ijas
mika.tavi
tapio.tuomisto
teemu.partanen
tuomas.kara
vilma.pohjonen